<br>
<h1> Welcome to the Grocery List Application <%= display_name %></h1>
<%= image_tag(@cat_image) %>

</br>
<p> Keep track of your Grocery List's by creating them here! <%= link_to('Lists', lists_path) %><p>
