<h1> Welcome to the Grocery List Application </h1>
</br>
</br>
<p> Keep track of your Grocery List's and see if you are saving money!</p>
<p> Please create an account and then continue on to add your lists </p>
<p><%= @user.name %></p>