<h1> Welcome to the Grocery List Application <%= display_name %></h1>
</br>
</br>
<p> Keep track of your Grocery List's and see if you are saving money!</p>
<p><%= link_to('Lists', lists_path) %></p>	
